@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";


.c-all-games-content {
    margin-bottom: 132px;
    .c-all-games-content__filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 29px; 
        margin-top: 27px;
        margin-bottom: 30px;
        @media(max-width:1180px) {
            height: 145px;
            padding: 0px 60px; 
        }
        @media(max-width:830px) {
            display: none;
        }

        li {
            a {
                padding: 15px 22px 15px 15px;
                box-shadow: $box-shadow; 
                display: inline-block;
                margin: 0px 10px; 
                border-radius: 10px;
                color: $main-font-color;
                transition-duration: 0.3s;
                &:hover {
                    background-color: $button-bg;
                }

                img {
                    width: 26px;
                    height: 26px;
                }

                span {
                    margin-left: 10px;
                    font-size: 16px;
                    color: $main-font-color;
                    vertical-align: text-top;
                }
            }
        }
        
        .active {
            a {
                background-color: $button-bg;
            }
        }
    }

    .c-all-games__item {
        div {
            display: none;
        }

        .casino {
            display: block;
        }
        
        .item-title {
            font-size: 40px;
            font-weight: 600;
            color: $main-font-color;
            margin-top: 100px;
            margin-bottom: 40px;
            text-align: center;
            @media(max-width:660px) {
                margin-top: 35px;
            }
        }

        .item-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            @media(max-width:490px) {
                justify-content: center;
            }

           .game {
               margin: 20px 12px 0px 5px;
               .game-logo {
                   width: 140px;
                   height: 140px;
                   border-radius: 10px;
               }

               .game-name {
                   font-size: 14px;
                   color: $main-font-color;
                   margin-top: 8px;
                   text-overflow: ellipsis;
                   white-space: nowrap;
                   width: 140px;
                   overflow: hidden;
               }
           } 
        }
    }
}