@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-contactUs-content {
    padding: 0 70px 0 70px;
    @media(max-width:1180px) {
        padding: 0px;
    }
    .c-contactUs-content__title {
        margin-top: 100px;
        margin-bottom: 80px;
        font-size: 40px;
        color: $main-font-color;
        font-weight: 600;
        text-align: center;
        @media(max-width:1180px) {
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }

    .c-contactUs-content__item {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        @media(max-width:1180px) {
            padding: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .c-contactUs-content__item--info {
            @media(max-width:1180px) {
                text-align: center;
            }

            p {
                font-size: 18px;
                font-weight: 600;
                color: $main-font-color;
            }

            span {
                font-size: 24px;
                color: $main-font-color;
                margin-bottom: 40px;
                display: inline-block;
            }
        }

        form {
            width: 400px;
            @media(max-width: 660px) {
                width: 100%;
            }
            
            input, textarea {
                box-shadow: $box-shadow;
                width: 100%;
                font-size: 16px;
                color: $main-font-color;
                border-radius: 30px;
                margin-bottom: 10px;
                border: none;
                padding: 14px 30px 12px 30px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: lighten($main-font-color, 40%);
                }
            }

            textarea {
                height: 150px;
            }

            .submitButton {
                border-radius: 30px;
                padding: 11px 0px 9px 0px;
                width: 100%;
                color: $black;
                font-size: 16px;
                background-color: $button-bg;
                border:none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}