@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-error-content {
    text-align: center;
    .c-error-content__title {
        font-size: 80px;
        font-weight: 600;
        color: $main-font-color;
        margin-top: 100px;
        margin-bottom: 10px;
        @media(max-width:1180px) {
            margin-top: 30px;
        }
    }

    .c-error-content__desc {
        font-size: 40px;
        font-weight: 600;
        color: $main-font-color;
    }   
}