// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'Helvetica-Normal';
    font-style: normal;
    font-weight: normal;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

.main-container {
    width: 1170px;
    margin: 0 auto;
    @media(max-width:1180px) {
        width: 800px;
    }
    @media(max-width:830px) {
        width: 650px;
    }
    @media(max-width:660px) {
        width: 480px;
    }
    @media(max-width:490px) {
        width: 300px;
    }
}

.content-container {
    width: 1100px;
    margin: 0 auto;
    @media(max-width:1180px) {
        width: 800px;
    }
    @media(max-width:830px) {
        width: 650px;
    }
    @media(max-width:660px) {
        width: 480px;
    }
    @media(max-width:490px) {
        width: 300px;
    }
}

.c-header {
    padding: 23px 0px;
    .flexbox {
        justify-content: space-between;
        @media(max-width:830px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @media(max-width:660px) {
            flex-direction: column;
            align-items: center;
        }

        .c-header__social {
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width:830px) {
                margin-bottom: 27px;
            }
            @media(max-width:660px) {
                margin-bottom: 20px;
                order: 2;
            }

            li {
                .c-header__social--item {
                    width: 56px;
                    height: 56px;
                    display: inline-block;
                    border-radius: 50%;
                    box-shadow: $box-shadow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    color: $main-font-color;

                    i {
                        font-size: 24px;
                        color: $main-font-color;
                    }
                }
            }
        }

        .c-header__logo {
            margin-top: 8px;
            margin-right: -170px;
            @media(max-width:1180px) {
                margin-right: -90px;
            }
            @media(max-width:830px) {
                margin:8px 222px 0px 0px;
            }
            @media(max-width:660px) {
                margin: 0px 0px 20px 0px;
                order: 1;
            }

            a {
                .c-header__logo--item {
                    width: 160px;
                    height: 51px;
                }
            }
        }

        .dropdown-mobile {
            display: none;
            margin-left: 35px;
            @media(max-width:830px) {
                display: block;
            }
            @media(max-width:660px) {
                margin:0px 0px 5px 0px;
                order: 3;
            }

            .dropdown {
                .dropdown-toggle {
                    padding: 15px 101px;
                    border-radius: 30px;
                    font-size: 18px;
                    border: none;
                    box-shadow: $box-shadow;
                    display: inline-block;
                    background-color: $white;
                    z-index: 10;
                    position: relative;
                    color: $black;
                    i {
                        font-size: 15px;
                        margin-left: 3px;
                    }
                }
        
                .dropdown-menu {
                    position: absolute;
                    top: 52%;
                    left: 0px;
                    z-index: 9;
                    display: none;
                    border: none;
                    box-shadow: $box-shadow;
                    background-color: $white;
                    float: left;
                    min-width: 100%;
                    padding: 20px 5px 15px 1px;
                    margin: 0px 0 0;
                    list-style: none;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 0px 0px 30px 30px;
                    background-clip: padding-box;
        
                    li {
                        a {
                            padding: 7px 20px;
                        }
                    }
                }
            }
        }

        .c-header__search {
            @media(max-width:830px) {
                margin-right: 35px;
            }
            @media(max-width:660px) {
                display: none;
            }

            .c-header__search--item {
                position: relative;
                width: 370px;
                text-align: right;
                @media(max-width:1180px) {
                    width: 250px
                }
                @media(max-width:830px) {
                    width: 280px;
                }

                input {
                    width: 56px;
                    height: 56px;
                    border-radius: 56px;
                    box-shadow: $box-shadow;
                    border: none;
                    font-size: 16px;
                    transition-duration: 0.5s;
                    color: transparent;

                    @media(max-width:830px) {
                        width: 100%;
                        padding: 0px 45px 0 20px;
                        color: $main-font-color;
                        &::placeholder {
                            color: lighten($main-font-color, 50%) !important;
                        }
                        &:focus {
                            width: 280px !important;
                            &::placeholder {
                            color: lighten($main-font-color, 50%) !important;
                            }
                        }
                        &:hover {
                            width: 280px !important;
                            &::placeholder {
                            color: lighten($main-font-color, 50%) !important;
                            }
                        }
                    }

                    &::placeholder {
                        color: transparent;
                    }

                    &:focus {
                        width: 100%;
                        outline: none;
                        padding: 0px 45px 0 20px;
                        color: $main-font-color; 
                        &::placeholder {
                            color: lighten($main-font-color, 50%);
                        }
                    }

                    &:hover {
                        width: 100%;
                        padding: 0px 45px 0 20px; 
                        &::placeholder {
                            color: lighten($main-font-color, 50%);
                        }
                    }
                }

                a {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                }
            }
        }
    }
}

.c-footer {
    padding: 35px 0px;
    background-color: $footer-bg;

    .flexbox {
        justify-content: space-between;
        @media(max-width:830px) {
            flex-direction: column;
            align-items: center;
        }

        .c-footer__logo {
            @media(max-width:830px) {
                margin-bottom: 20px;
            }
            .c-footer__logo--item {
                width: 126px;
                height: 40px;
            }
        }

        .c-footer__nav {
            display: flex;
            align-items: center;
            @media(max-width:830px) {
                margin-bottom: 20px;
            }
            
            ul {
                display: flex;
                @media(max-width:490px) {
                    flex-direction: column;
                    justify-content: center;
                }

                li {
                    margin-right: 50px;
                    @media(max-width:830px) {
                        margin: 0px 25px;
                    } 
                    @media(max-width:490px) {
                        margin: 5px 0px;
                        text-align: center;
                    }

                    a {
                        font-size: 18px;
                        color: $main-font-color;
                    }
                }
            }
        }

        .c-footer__rights {
            display: flex;
            align-items: center;
            @media(max-width:830px) {
                margin-bottom: 10px;
            }

            .c-footer__rights--item {
                color: $main-font-color;
                font-size: 14px;
            }
        }
    }
}

.c-global-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 29px; 
    margin-top: 27px;
    margin-bottom: 30px;
    @media(max-width:1180px) {
        height: 145px;
        padding: 0px 60px; 
    }
    @media(max-width:830px) {
        display: none;
    }

    li {
        a {
            padding: 15px 22px 15px 15px;
            box-shadow: $box-shadow; 
            display: inline-block;
            margin: 0px 10px; 
            border-radius: 10px;
            color: $main-font-color;
            transition-duration: 0.3s;
            &:hover {
                background-color: $button-bg;
            }

            img {
                width: 26px;
                height: 26px;
            }

            span {
                margin-left: 10px;
                font-size: 16px;
                color: $main-font-color;
                vertical-align: text-top;
            }
        }
    }
}

.c-global-gameBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;

   .game {
        margin: 20px 12px 0px 5px;
       .game-logo {
           width: 140px;
           height: 140px;
           border-radius: 10px;
       }

       .game-name {
           font-size: 14px;
           color: $main-font-color;
           margin-top: 8px;
           text-overflow: ellipsis;
           white-space: nowrap;
           width: 140px;
           overflow: hidden;
       }
   } 
}


