@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-home-content {
    .c-home-content__slider {
        position: relative;
        width: 100%;
        min-height: 500px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        padding: 72px 30px 30px 30px; 
        margin-bottom: 10px;
        @media(max-width:660px) {
            padding: 37px 2px 75px 2px;
        }

        .owl-carousel__item {
            display: flex;
            .owl-carousel__item--content {
                width: 50%;
                padding-left: 103px;
                padding-right: 65px;
                @media(max-width:1180px) {
                    width: 100%;
                    text-align: center; 
                    padding: 0px 100px;      
                }
                @media(max-width:660px) {
                    padding: 0px 10px;
                }

                .star-rating {
                    margin-bottom: 30px;
                }

                .game-name {
                    font-size: 40px;
                    color: $main-font-color;
                    font-weight: 600;
                    margin-bottom: 30px;
                    @media(max-width:660px) {
                        font-size: 33px;
                    }
                }

                .game-desc {
                    font-size: 18px;
                    color: $main-font-color;
                    margin-bottom: 30px;
                }

                .game-button {
                    font-size: 20px;
                    padding: 11px 42px 9px 42px;
                    background: $button-bg;
                    display: inline-block;
                    border-radius: 30px;
                    color: $white;
                    @media(max-width:1180px) {
                        margin-bottom: 20px;
                    }

                    span {
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
            }

            .owl-carousel__item--image {
                width: 50%;
                padding-right: 35px;
                @media(max-width:1180px) {
                    display: none;       
                }

                img {
                    width: 480px;
                    height: 370px;
                }
            }
        }

        .owl-nav {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            display: flex;
            transform: translate(-50%, -50%);
            justify-content: space-between;
            z-index: 999;
            @media(max-width:660px) {
                top: 100%;
                transform: translate(-50%, 0%);
                justify-content: space-evenly;
            }
            
            .owl-prev, .owl-next {
                width: 60px;
                height: 60px;
                box-shadow: $box-shadow;
                border-radius: 50%;
                background-color: white;
                background-image: url("../images/left.png");
                background-repeat: no-repeat;
                background-position: 45% 50%;
                &:focus {
                    outline:0;
                }

                span {
                    display: none;
                }
            }

            .owl-next {
                transform: rotateY(180deg);
            }
        }

        .owl-dots {
            text-align: center;

            button {
                &:focus {
                    outline: none;
                }

                span {
                    width: 8px;
                    height: 8px;
                    margin: 9px 10px;
                    background: #e5dee7;
                    display: block;
                    border-radius: 30px;
                }
            }
            
            .active {
                span {
                    width: 16px;
                    height: 16px;
                    margin: 5px 6px;
                    background: #50e3c2;
                }
            }
        }
    }

    .c-home-content__games {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width:1180px) {
            padding: 0px 80px;
        }
        @media(max-width:830px) {
            padding: 0px 5px;
        }
        @media(max-width:660px) {
            justify-content: center;
        }

        .c-home-content__games--item {
            width: 300px;
            margin-top: 100px;
            
            .item-title {
                font-size: 24px;
                color: $main-font-color;
                text-align: center;
                font-weight: 600;
            }

            .item-box {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

               .game {
                   margin-top: 20px;
                   .game-logo {
                       width: 140px;
                       height: 140px;
                       border-radius: 10px;
                   }

                   .game-name {
                       font-size: 14px;
                       color: $main-font-color;
                       margin-top: 8px;
                       text-overflow: ellipsis;
                       white-space: nowrap;
                       width: 140px;
                       overflow: hidden;
                   }
               } 
            }
        }
    }
    
    .c-home-content__button {
        margin-top: 60px;
        margin-bottom: 132px;
        text-align: center;

        .c-home-content__button--item {
            border-radius: 30px;
            color: $white;
            background-color: $button-bg;
            padding: 11px 61px 9px 61px; 
            display: inline-block;
            font-size: 20px;
        }
    }
}