@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-innerPage-content {
    .c-innerPage-content__title {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 40px;
        color: $main-font-color;
        font-weight: 600;
        text-align: center;
        @media(max-width:1180px) {
            margin-top: 30px;
        }
    }

    .c-innerPage-content__desc {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        padding: 0px 115px;
        @media(max-width:1180px) {
           padding: 0px; 
        }
        @media(max-width:660px) {
            display: inline-block;
            text-align: center;
        }

        p {
            width: 400px;
            font-size: 16px;
            color: $main-font-color;
            @media(max-width:1180px) {
                padding: 0px 15px; 
            }
            @media(max-width:660px) {
                padding: 0px;
                width: 100%;
            }
        }
    }

    .c-innerPage-content__slider {
        position: relative;
        padding: 0 65px;
        @media(max-width:660px) {
            padding: 0 25px;
        }
        @media(max-width:490px) {
            padding: 0px;
        }

        .owl-carousel {
            width: 100%;
            margin: 0 auto;

            .owl-carousel__item {
                img {
                    width: 970px;
                    height: 400px;
                    border-radius: 10px;
                    @media(max-width:1180px) {
                        width: 100%;
                    }
                    @media(max-width:830px) {
                        height: 290px;
                    }
                    @media(max-width:490px) {
                        height: 200px;
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 117%;
                display: flex;
                transform: translate(-50%, -50%);
                justify-content: space-between;
                z-index: 999;
                @media(max-width:1180px) {
                    display: none; 
                }
                
                .owl-prev, .owl-next {
                    width: 60px;
                    height: 60px;
                    box-shadow: $box-shadow;
                    border-radius: 50%;
                    background-color: white;
                    background-image: url("../images/left.png");
                    background-repeat: no-repeat;
                    background-position: 45% 50%;
                    &:focus {
                        outline:0;
                    }
    
                    span {
                        display: none;
                    }
                }
    
                .owl-next {
                    transform: rotateY(180deg);
                }
            }
        }
        
        .c-innerPage-content__slider--button {
            position: absolute;
            bottom: -190px;
            text-align: center;
            z-index: 9999;
            left: 50%;
            transform: translateX(-50%);
            @media(max-width:830px) {
                bottom: -132px;
            }

            a {
                display: inline-block;
                color: $white;
                background-color: $button-bg;
                font-size: 40px;
                padding: 77px 32px;
                border-radius: 50%;
                @media(max-width:830px) {
                    font-size: 30px;
                    padding: 49px 12px;
                }
                @media(max-width:490px) {
                    font-size: 15px;
                    padding: 48px 37px;
                }

                span {
                    display: block;
                    font-size: 50px;
                    @media(max-width:830px) {
                        font-size: 30px;
                    }
                }
                
            }
        }
    }

    .c-innerPage-content__social {
        margin-top: 280px;
        margin-bottom: 180px;
        padding: 0px 65px;
        @media(max-width:830px) {
            padding: 0px; 
        }
    }
}