@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-termsConditions-content {
    padding: 0px 120px; 
    @media(max-width:1180px) {
        padding: 0px;
    }

    .c-termsConditions-content__header {
        margin-top: 100px;
        margin-bottom: 80px;
        font-size: 40px;
        color: $main-font-color;
        font-weight: 600;
        text-align: center;
        @media(max-width:1180px) {
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }

    .c-termsConditions-content__desc {
        margin-bottom: 70px;
        .c-termsConditions-content__desc--title {
            font-size: 20px;
            font-weight: 600;
            color: $main-font-color;
            margin-bottom: 20px;
            @media(max-width:830px) {
                text-align: center;
            }
        }

        .c-termsConditions-content__desc--text {
            display: flex;
            justify-content: space-between;
            @media(max-width:660px) {
                display: inline-block;
                text-align: center;
            }

            p {
                color: $main-font-color;
                font-size: 16px;
                width: 400px;
                @media(max-width:1180px) {
                    padding: 0px 15px;
                }
                @media(max-width:660px) {
                    width: 100%;
                    padding: 0px;
                }
            }
        }
    }
}