// -------------- helvetica
@font-face {
    font-family: 'Helvetica-Normal';
    src: url('../fonts/Helvetica-Normal.woff2') format('woff2'),
        url('../fonts/Helvetica-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}