// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
// ]] Bootstrap defaults

// $body-bg: #70d1e1;
$footer-bg: #f2f2f2;
$button-bg: #50e3c2;
$white: #fff;
$black:#000000;
$main-font-color: #4a4a4a;
$box-shadow: 0 0 20px 0 rgba(211, 211, 211, 0.5);